<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="cn.roy.screenshot">

    <application>

        <activity
            android:name=".PermissionGrantActivity"
            android:process=":remote_screen_shot"
            android:theme="@style/Activity_NoActionBar_NoTitleBar" />

        <service
            android:name=".remote.ScreenShotService"
            android:process=":remote_screen_shot" />
    </application>

</manifest>